[submodule "themes/nix"]
	path = themes/nix
	url = https://github.com/LordMathis/hugo-theme-nix
[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt
[submodule "themes/Travelify"]
	path = themes/Travelify
	url = https://github.com/balaramadurai/hugo-travelify-theme
[submodule "themes/hugo-travelify-theme"]
	path = themes/hugo-travelify-theme
	url = https://github.com/balaramadurai/hugo-travelify-theme
[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme
[submodule "themes/virgo"]
	path = themes/virgo
	url = https://github.com/loveminimal/hugo-theme-virgo.git
[submodule "themes/startpage"]
	path = themes/startpage
	url = https://github.com/spech66/bootstrap-bp-hugo-startpage.git
[submodule "themes/keepIt"]
	path = themes/keepIt
	url = https://github.com/Fastbyte01/KeepIt
